# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/competition.png
!app/crud/uploads/full
!app/crud/uploads/01-neoli-kryss-angeline-abarientos.jpg
!app/crud/uploads/02-johanna-leeann-c-recuenco.jpg
!app/crud/uploads/03-angelica-necio-maximo.jpg
!app/crud/uploads/04-mien-mie-egipto.jpg
!app/crud/uploads/05-bettina-pauline-lucena-francia.jpg
!app/crud/uploads/06-sophia-kim-cornejo-ani.jpg
!app/crud/uploads/07-marifranz-s-rico.jpg
!app/crud/uploads/08-cherry-love-jebulan.jpg
!app/crud/uploads/09-audrey-alexandra-b-villa.jpg
!app/crud/uploads/10-princess-lisie-s-mabag.jpg
!app/crud/uploads/11-ginn-lianna-fiona-orcine.jpg
!app/crud/uploads/12-hannah-mae-t-panibe.jpg
!app/crud/uploads/13-euricka-lyn-morana.jpg
!app/crud/uploads/14-sarah-fayiz-b-qaimah.jpg
!app/crud/uploads/15-nicole-joycean-penaserada.jpg
!app/crud/uploads/16-sherrie-mae-p-romaraog.jpg
!app/crud/uploads/17-mickha-ella-s-comoda.jpg
!app/crud/uploads/18-ivy-dianne-i-de-vera.jpg
!app/crud/uploads/19-melclen-joy-s-corporal.jpg
!app/crud/uploads/20-mickaela-janelle-s-dura.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/uploads/cmon.gif
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
